.bg-grey {
    background: #E5E5E5 !important; }
  
  .bg-hover-grey:hover {
    background: #E5E5E5 !important; }
  
  .font-grey {
    color: #E5E5E5 !important; }
  
  .bg-font-grey {
    color: #333333 !important; }

.bg-red {
    background: #e7505a !important; }
  
  .bg-hover-red:hover {
    background: #e7505a !important; }
  
  .font-red {
    color: #e7505a !important; }
  
  .bg-font-red {
    color: #ffffff !important; }
  
  .border-red {
    border-color: #e7505a !important; }
  
  .border-top-red {
    border-top-color: #e7505a !important; }
  
  .border-bottom-red {
    border-bottom-color: #e7505a !important; }
  
  .border-left-red {
    border-left-color: #e7505a !important; }
  
  .border-right-red {
    border-right-color: #e7505a !important; }
    
.bg-green {
  background: #32c5d2 !important; }

.bg-hover-green:hover {
  background: #32c5d2 !important; }

.font-green {
  color: #32c5d2 !important; }

.bg-font-green {
  color: #FFFFFF !important; }

.border-green {
  border-color: #32c5d2 !important; }

.border-top-green {
  border-top-color: #32c5d2 !important; }

.border-bottom-green {
  border-bottom-color: #32c5d2 !important; }

.border-left-green {
  border-left-color: #32c5d2 !important; }

.border-right-green {
  border-right-color: #32c5d2 !important; }